[build]
  publish = "."
  command = ""

[[redirects]]
  from = "/contact.html"
  to = "/contact.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
